/*========================================================================================
BASE
===========================================================================================*/
html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

/*========================================================================================
GÉNÉRIQUE   
===========================================================================================*/
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
   
}

body{
    font-family:"Dosis", serif;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #E3E4E4;
} 

a{
    text-decoration: none;
}
/*========================================================================================
COMPONENTS
===========================================================================================*/

/*HEADER*/
h1{
    font-weight:700 ;
    font-size:40px ;
}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    font-weight:700;
    font-size:16px ;
    
}

header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: white;
}
nav a{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
nav a:hover{
    background-color: #0E5EA1;
    color: white;
   
}
/*HERO*/
.hero{
    background-image: url(../images/montagnes-alpes.jpg);
    padding: 170px 0;
    background-repeat: no repeat;
    margin-bottom: 40px;
}
.hero .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 20px 0;
    margin: 0 260px;
}
.hero h2{
    color: white;
    font-weight: 700;
    margin: 0;
    font-size: 36px;
}
.hero p{
    color: #2FCB48;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}
/*section contenu*/
.contenu .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
article{
    background-color: white;  
    padding: 10px; 
    height: 714px; 
    display: flex;
    flex-direction: column;
    line-height: 160%;
}
article p{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 16px;

}

article h3{
    font-family:"Dosis", serif;
    font-weight: 800;
    font-size: 24px;
}
article a{
    
background-color:#B7B7B7; 
border-radius: 5px;
padding: 5px 10px;
font-family:"Dosis", serif ;
font-weight: 700;
font-size: 14px;
margin: 5px 80px;
display: flex;
justify-content: center;
}

article a:hover{
    background-color: #0E5EA1;
    color: white;
}

/*aside*/
aside{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*footer*/
footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 16px;
    
}
